body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.chat-container {
  width: 300px;         
  max-width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
  text-align: center;
}

#messages {
  list-style-type: none;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #f9f9f9;
  height: 400px;
  max-height: 400px;   
  overflow-y: auto;    
  width: 300px;
}


#messages li {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  padding: 0;
}

.message-left {
  justify-content: flex-start;
}

.message-right {
  justify-content: flex-end;
}

.message-bubble {
  max-width: 220px;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #f1f0f0;
  font-size: 14px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}


.message-right .message-bubble {
  background-color: #2196f3;
  color: #fff;
}


.avatar {
  width: 32px;
  height: 32px;
  background-color: #042f4b;
  border-radius: 50%;
  margin: 0 8px;
}

#form {
  display: flex;
  gap: 10px;
}

#input {
  flex-grow: 1;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  padding: 10px 16px;
  font-size: 14px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #1976d2;
}

.system {
    text-align: center;
    color: #888;
    font-style: italic;
    margin: 10px 0;
    list-style: none;
}

.system-message {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  list-style: none;
}

.system-bubble {
  background-color: #f0f0f0;
  color: #333;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 14px;
  max-width: 60%;
  text-align: center;
}

.name-label {
  font-size: 10px;
  color: #666;
  margin-bottom: 2px;
  margin-left: 5px;
}

.username-label {
  font-size: 12px;
  color: #666;
  margin-bottom: 4px;
  text-align: left;
}

.message-left .username-label {
  text-align: left;
  margin-left: 10px;
}

.message-right .username-label {
  text-align: right;
  margin-right: 10px;
}

.message-content {
  display: flex;
  flex-direction: column;
}